<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
</head>
<body>

	<h1>
		Hola <span th:text="${nombre}"> </span> !!!!
	</h1>
	<br />
	<h2>
		Hola <span th:text="${person.name}"> </span> !!!!
	</h2>
	<h2>
		Hola <span th:text="${person.age}"> </span> !!!!
	</h2>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Edad</th>
			</tr>
		</thead>
		<tbody >
			<tr th:each="person:${people}">
				<td th:text="${person.name}"></td>
				<td th:text="${person.age}"></td>
			</tr>

		</tbody>

	</table>

</body>
</html>